<!DOCTYPE html>
 
<meta charset="UTF-8">
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
<head>
<h1>Poll: {{ poll.question }} ?</h1></head><body>
<h2> double voting is not allowed </h2></body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if poll.is_active %}
    <form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
    </form>
{% else %}
    <h2> poll has expired</h2>
    {% for choice in poll.choice_set.all %}
        <li><a>{{choice.choice_text}}</a></li>
    {% endfor %}
{% endif %}
<a href="{% url 'polls:results' poll.id %}">See Results</a>

