{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<h1>Poll: {{ poll.question }} ?</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
{% for choice in poll.choice_set.all %}
    <li><a>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</a></li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' poll.id %}">Vote again?</a>
