<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if poll.is_active %}
    <form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
    </form>
{% else %}
    <h2> poll is time out</h2>
    {% for choice in poll.choice_set.all %}
        <li>{{choice.choice_text}}</li>
    {% endfor %}
{% endif %}
<a href="{% url 'polls:results' poll.id %}">See Results</a>

