<h1>Please Input Your Name Here.</h1>
<h2>Your name must be in our database, then you can vote.</h2>

<form action="{% url 'polls:login' poll.id %}" method="post">
{% csrf_token %}
    <input type="text" name="username" />
    <input type="submit" value="Login" />
</form>
