<!DOCTYPE html>
 
<meta charset="UTF-8">

	<title>templates</title>
	<style type="text/css">

li a {
    color: green;
    text-align:center;
    font-size:250%;
    font-style:italic;
}
h1{ margin -top: 20px; color:blue; text-align:center;font-size:250%;font-style:italic;}
h2{ margin -top: 20px; color:green; text-align:center;font-size:250%;font-style:italic;}

body {
    background: white url("images/background.png") no-repeat right bottom;
}
</style>
